<div class="row">
    <div class="col-sm-3">
        <h1>File List</h1>
        <div class="alert alert-info">
            <button class="btn btn-success">New Document</button>
        </div>
        <section class="active" id="fileContent">
            @{Html.RenderAction("FileContent", "File");}
        </section>
    </div>
    <div class="col-sm-9">
        <h1 id="SelectedFileName">
            Empty
        </h1>
        <div class="alert alert-info disabled" id="fileManagerBtn" >
            <a class="btn btn-success" id="EditBtn" > Edit In Word </a>
        </div> 
    </div>
</div>
